<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="post-date">
        <a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a>
        <br/>
        <span>2018 All rights reserved</span>&nbsp;&nbsp;&nbsp;|<a href="{{ site.url }}/legal/Comment-Policy-10000TB-ORG.html">Comment Policy</a>
        <a href="{{ site.url}}/">10000tb.org</a>&nbsp;<a href="{{ site.url }}/">xuehaohu.com</a>&nbsp;<a href="{{ site.url}}/">david-hu.org</a>
 </div>
</footer>
