---
layout: default
title: Home
---
<div style="font-family: 'Baskervville', serif;">
    <br/>
    <span style="color:white; background-color: black;padding: 2px 2px; font-family: 'Lobster', cursive;">Pinned</span><br/><br/>
    &nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/tech/My-2-cents-on-tech-interviews.html"> My 2 cents on tech interviews in a non-holistic view - methodologies, outcome, candidate experience, and tips </a><br/><br/>
    &nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/python/blog-series-python-A-Curated-List-Those-Python-How-To-You-Search-Frequently-in-Your-Daily-Programming.html">A curated list: those python How-Tos we search frequently in our daily programming</a><br/><br/>
    <br/>
    <span style="color:white; background-color: black;padding: 2px 2px;font-family: 'Lobster', cursive; ">All</span><br/>
</div>

{% for post in paginator.posts %}
<article style="font-family: 'Baskervville', serif;">
  <a href="{{ site.github.url }}{{ post.url }}" style="text-decoration: none;">
    <div class="featured-posts" style="height:60px;width:100%;">
      <div style="padding:0px 5px;display: inline-block;max-height:40px; width:auto;font-weight: bold; background-color: rgba(255,255,255,1);padding:10px 0px; color: rgba(0, 51, 204, 0.8);"><span style="padding:0px 5px;font-weight:bold;">{{ post.title }}</span></div><br/>
      <div style="padding:0px 5px;display: inline-block;max-height:40px; width:auto;font-weight: bold; background-color: ra(255,255,255,1);padding:0px 0px; color: rgba(0, 51, 204, 0.4);top:5px;"><span style="padding:0px 5px;font-weight:bold;">{{ post.date | date_to_long_string }}</span></div>
    </div>
  </a>
</article>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
